# Dependencies
node_modules
.pnpm-store

# Next.js build output
.next
out

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor/OS files
.DS_Store
.vscode
.idea

# Git
.git
.gitignore
.github

# Env files (do not send secrets to the build context)
.env
.env.local
.env.*.local

# Tests/coverage
coverage
*.spec.*
*.test.*

# Caches
.cache
.turbo

# Misc build artifacts
dist
build

# Vercel/Netlify
.vercel
.netlify
