apiVersion: apps/v1
kind: Deployment
metadata:
  name: Todo-App
  namespace: todo-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: Todo-App
  template:
    metadata:
      labels:
        app: Todo-App
    spec:
      imagePullSecrets:
        - name: ghcr-pull-secret
      initContainers:
        - name: migrate
          image: ghcr.io/<iamamanul>/todo-app:latest
          envFrom:
            - secretRef:
                name: app-secrets
          command: ["sh", "-c", "npx prisma migrate deploy"]
      containers:
        - name: web
          image: ghcr.io/<iamamanul>/todo-app:latest
          ports:
            - containerPort: 3000
          envFrom:
            - secretRef:
                name: app-secrets
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 20
